<!DOCTYPE html>
<html>
  <head>
    <title>Bus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "http://localhost:8080/assets/application.js" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
